@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg{
  background-image: url('/homepic/hero/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
